/* Card.css */

.card {
  background-color: #121212;
  color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.commenter-profile-info{
    padding: 4px;
    border: solid wheat 1px;
    border-radius: 4px;
}
.commenterEmail{
    background-color: rgb(201, 201, 5);
    border-radius: 5px;
    color: #1e1e1e;
    margin:10px
}
.child-html{
    padding: 4px;
    border: solid wheat 1px;
    border-radius: 4px;
    margin: 4px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
.card-header {
  padding: 10px;
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
}

.card-body {
  padding: 20px;
}

.title {
  margin-bottom: 10px;
}
.horizontalLine {
  background-color: rgb(139, 134, 134);
}
.dropdown-container {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

/* .expandable-section{
    overflow-y:scroll;
} */

select {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 100%;
  cursor: not-allowed;
}
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
