.imgcontainer {
    background-image: url("../../utils/itwox.jpeg");
    height: 40vh;
    width: 100%;
    background-size: cover;
    text-align: center;
    background-color: black;

  }
  
  /* Apply styles to the image */
  .itwox {
    width: 100%;;
    height: auto;  
}

.dashboardText{
    height: 250px;
    background-color: bisque;
    padding: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
}
  